.big-footer {
  padding-top: 30px;
  border-top: 3px solid #7b9e7e;
}
.sub-footer {
  background-color: #7b9e7e;
  padding: 20px 0;
}

.copyright-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-text p {
  font-family: var(--normal-font);
  font-size: 17px;
  margin-bottom: 0;
  color: #fff;
}

.copyright-text p a {
  color: inherit;
}

.copyright-text p a:hover {
  color: var(--red);
}

.footer-logo {
  text-align: center;
}

.footer-logo img.logo {
  width: 210px;
  margin-top: 3px;
  margin-bottom: 10px;
}

footer .footer-links li,
.footer-contact ul li,
.footer-contact ul li a,
footer .footer-links li a {
  text-decoration: none;
  color: var(--lighter-text);
  font-size: 19px;
  margin-top: 6px;
}

.footer-links a:hover,
.footer-contact ul li a:hover {
  text-decoration: underline;
}

.footer-contact ul {
  padding-inline-start: 0px;
  margin-top: 15px;
}

.footer-contact ul li a,
footer .footer-links li a {
  text-decoration: none;
  color: var(--lighter-text);
}

.footer-icon {
  margin-right: 10px;
}

.social-icons {
  margin-right: 10px;
}

a.social-icons,
a.social-icons:hover {
  color: transparent;
}
