.standard-block.section-space {
  margin: 80px 0;
}

.standard-block .block-button {
  background-color: var(--dark);
  padding: 10px 26px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 19px;
}

.standard-block .block-img {
  height: 320px;
  width: 90%;
  object-fit: cover;
  border-radius: 2px;
}

.standard-block .block-text {
  margin: 3% 0;
  line-height: 1.2;
  font-size: 17px;
}

.standard-block .block-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* CTA Block */
.section-space.cta-block {
  width: 100%;
  background-color: var(--dark);
  color: #fff;
  padding: 35px 0;
}

.section-space.cta-block:last-child {
  margin: 50px 0 0;
}

.cta-block .cta-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cta-content h3 {
  font-size: 24px;
  margin-bottom: 0;
  margin-right: 30px;
}

/* section-img */
.img-section {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.section-content-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content-box {
  height: auto;
  background-color: rgba(255, 255, 255, 0.826);
  color: #000000;
  padding: 35px 50px;
  margin-left: -10px;
  text-align: center;
}

.section-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 55%;
  color: #000000;
  padding: 40px;
}

.section-content-middle h1 {
  font-size: 49px;
  margin-bottom: 0;
  margin-top: 0;
}

.section-content-middle h3 {
  font-size: 31px;
  margin-bottom: 20px;
}

.orange-img-title {
  color: var(--orange);
  font-size: 6rem;
}

/* Text section */
.text-section {
  width: 100%;
  height: 100vh;
  background-color: var(--light-background);
  color: #000000;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-section .col-lg-6 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.orange-text-title {
  color: var(--orange);
  font-size: 6rem;
}

.green-line {
  background-color: var(--green);
  height: 30vh;
  width: 9px;
  margin-left: 60px;
  border-radius: 4px;
}

.text-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

section.img-section .button-row {
  margin-top: 60px;
}

section.img-section .button-row a {
  margin-right: 10px;
  margin-left: 10px;
}

/* Youtube embeded */
.hero,
.hero_content,
.hero .section-content-middle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero {
  overflow: hidden;
}

.hero_video,
.hero iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 56.25vw; /* 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* 16/9*100 = 177.77 */
}

.hero iframe {
  opacity: 0;
}

.hero iframe.loaded {
  opacity: 1;
}

.hero_content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_content_title {
  color: #fff;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: clamp(1.5rem, 5vw, 3.25rem);
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.375em;
  font-weight: lighter;
  margin-bottom: 2.625rem;
}

.hero_content_play {
  display: block;
  position: relative;
  width: 4rem;
  height: 4rem;
  border: 2px solid transparent;
  border-radius: 50%;
  background: rgba(22, 22, 16, 0.75);
  text-indent: -9999px;
  transition: border-color 0.3s ease;
  animation: pulse 3s infinite;
}

.hero_content_play:hover {
  border-color: #fff;
  animation: none;
}

.hero_content_play:after {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  left: 1.425rem;
  width: 0;
  height: 0;
  border: 0;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 1rem 0 1rem 1.5rem;
}

section.video-banner {
  height: 100vh;
  background-image: url("/wp-content/themes/first-nature/img/poppetjes-img.jpg");
  background-size: cover;
  background-position: center center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(24, 37%, 69%, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px hsla(24, 37%, 69%, 0);
  }
  100% {
    box-shadow: 0 0 0 0 hsla(24, 37%, 69%, 0);
  }
}
