.standard-block.section-space {
  margin: 80px 0;
}

.standard-block .block-button {
  background-color: var(--dark);
  padding: 10px 26px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 19px;
}

.standard-block .block-img {
  height: 320px;
  width: 90%;
  object-fit: cover;
  border-radius: 2px;
}

.standard-block .block-text {
  margin: 3% 0;
  line-height: 1.2;
  font-size: 17px;
}

.standard-block .block-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* CTA Block */
.section-space.cta-block {
  width: 100%;
  background-color: var(--dark);
  color: #fff;
  padding: 35px 0;
}

.section-space.cta-block:last-child {
  margin: 50px 0 0;
}

.cta-block .cta-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cta-content h3 {
  font-size: 24px;
  margin-bottom: 0;
  margin-right: 30px;
}

/* section-img */
.img-section {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.section-content-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: auto;
  width: 55%;
  background-color: rgba(255, 255, 255, 0.826);
  color: #000000;
  padding: 40px;
  margin-left: -10px;
}

.section-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 55%;
  color: #000000;
  padding: 40px;
}

.section-content-middle h1 {
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

.section-content-middle h3 {
  font-size: 32px;
  margin-bottom: 0;
}

.orange-img-title {
  color: var(--orange);
  font-size: 6rem;
}

/* Text section */
.text-section {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  color: #000000;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-section .col-lg-6 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.orange-text-title {
  color: var(--orange);
  font-size: 6rem;
}

.green-line {
  background-color: var(--green);
  height: 30vh;
  width: 9px;
  margin-left: 60px;
  border-radius: 4px;
}

.text-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

section.img-section .button-row {
  margin-top: 60px;
}

section.img-section .button-row a {
  margin-right: 10px;
  margin-left: 10px;
}
